ETCD_OPTS=" -name infra{{ inventory_hostname }} -initial-advertise-peer-urls https://{{ inventory_hostname }}:2380 -listen-peer-urls https://{{ inventory_hostname }}:2380 -listen-client-urls http://127.0.0.1:4001,https://127.0.0.1:2379,http://{{ inventory_hostname }}:4001,https://{{ inventory_hostname }}:2379 -advertise-client-urls https://{{ inventory_hostname }}:2379  -initial-cluster-token etcd-cluster-kube-1 -initial-cluster {% for ip in groups['master_node'] %}infra{{ ip }}=https://{{ ip }}:2380,{% endfor %} -initial-cluster-state new --cert-file /srv/kubernetes/server.cert --key-file /srv/kubernetes/server.key --client-cert-auth --trusted-ca-file /srv/kubernetes/ca.crt --peer-cert-file /srv/kubernetes/server.cert --peer-key-file /srv/kubernetes/server.key --peer-client-cert-auth --peer-trusted-ca-file /srv/kubernetes/ca.crt"