KUBE_APISERVER_OPTS=" --insecure-bind-address=127.0.0.1 --insecure-port=8080 --etcd-servers=https://{{ inventory_hostname }}:2379 --etcd-cafile=/srv/kubernetes/ca.crt --etcd-certfile=/srv/kubernetes/server.cert --etcd-keyfile=/srv/kubernetes/server.key --logtostderr=true --service-cluster-ip-range={{ service_cluster_ip_range }} --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota,SecurityContextDeny --service-node-port-range=30000-32767 --client-ca-file=/srv/kubernetes/ca.crt --tls-cert-file=/srv/kubernetes/server.cert --tls-private-key-file=/srv/kubernetes/server.key"