KUBELET_OPTS=" --address=0.0.0.0 --port=10250  --hostname-override={{ hostname }}  --api-servers=http://{{ master_host_slb_vip }}:8080  --logtostderr=true  --cluster-dns={{ service_cluster_dns_ip }}  --cluster-domain=cluster.local  --housekeeping-interval=1s  --node-labels={{ node_label }}"
