KUBELET_OPTS=" --address=0.0.0.0 --port=10250  --hostname-override={{ hostname }}  --api-servers=https://127.0.0.1:6443  --logtostderr=true  --cluster-dns={{ service_cluster_dns_ip }}  --cluster-domain=cluster.local  --housekeeping-interval=1s  --kubeconfig=/srv/kubelet/config.yaml  --node-labels={{ node_label }}"
