import time
import json
from httplib2 import Http


host_and_port = "{{ inventory_hostname }}:30002"


h = Http(disable_ssl_certificate_validation=True, timeout=10)


body_dictionary = {
	"Username": "admin",
	"Password": "password"
}
	
result=False
for i in xrange(0, 4):
	time.sleep(10*i)
	try:
		head, body = h.request("https://" + host_and_port + "/api/v1/authorizations/tokens", "POST", json.dumps(body_dictionary), headers={"Content-Type": "application/json"})
		if head.status != 200:
			print head
			print body
		else:
			result=True
			break
	except Exception as e:
		print e

if result is False:
	raise Exception("Fail to get token")

token = json.loads(body).get("Token")	

{% for ip in groups['master_node'] %}

body_dictionary = {
	"IP": "{{ ip }}",
	"SSH": {
		"Port": 22,
		"User": "{{ hostvars[ip]['ansible_user'] }}",
		"Password": "{{ hostvars[ip]['ansible_ssh_pass'] }}"
	},
	"Disabled": False
}

result=False
for i in xrange(0, 4):
	time.sleep(10*i)
	try:
		head, body = h.request("https://" + host_and_port + "/api/v1/hosts/credentials", "POST", json.dumps(body_dictionary), headers={"Content-Type": "application/json", "token": token})
		if head.status != 200:
			print head
			print body
		else:
			result=True
			break
	except Exception as e:
		print e
		
if result is False:
	raise Exception("Fail to post")

{% endfor %}

print "Done"