import json
from httplib2 import Http


host_and_port = "{{ inventory_hostname }}:30002"


h = Http(disable_ssl_certificate_validation=True)


body_dictionary = {
	"Username": "admin",
	"Password": "password"
}

head, body = h.request("https://" + host_and_port + "/api/v1/authorizations/tokens", "POST", json.dumps(body_dictionary), headers={"Content-Type": "application/json"})
if head.status != 200:
	print head
	print body
	raise Exception("Fail to get token")

token = json.loads(body).get("Token")	

body_dictionary = {
	"Name": "private-registry",
	"Host": "private-registry",
	"Port": 31000
}

head, body = h.request("https://" + host_and_port + "/api/v1/privateregistries/servers", "POST", json.dumps(body_dictionary), headers={"Content-Type": "application/json", "token": token})
if head.status != 200:
	print head
	print body
	raise Exception("Fail to post")

print "Done"