apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://{{ master_host_slb_vip }}:6443
  name: initial_cluster
contexts:
- context:
    cluster: initial_cluster
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
kind: Config
preferences: {}
users:
- name: kubelet
  user:
    token: {{ kube_apiserver_access_token }}