{
        "certificate": "/etc/cloudone_slb/development_cert.pem",
        "key": "/etc/cloudone_slb/development_key.pem",
        "restapiPort": 8083,
        "haproxyServiceName": "haproxy",
        "haproxyConfigurationFilePath": "/etc/haproxy/haproxy.cfg",
        "haproxyConfigurationTemplateFilePath": "/etc/haproxy/haproxy.cfg.template",
        "haproxyConfigurationCommandFilePath": "/etc/haproxy/haproxy.cfg.command",
        "domainNameSuffix": "{{ domain_name_suffix }}"
}